

#one {
  color: #0000ff;
}
#two {
  color: purple;
}

#three {
  color: hsla(218, 10%, 56%, 0.131);
  color: rgba(0, 255, 0, 0.5);
}

/* text-align 에제 */
p {
  width: 400px;
  background-color: rgba(0, 0, 255, 0.5);
  border: 1px solid #222;
  padding: 10px;
  margin: 10px; 
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

/* line-height 예제 */
h2 {
  font-size: 60px;
}

#heading {
  width: 100%;
  height: 150px;
  background-color: #222;
  color: rgb(255, 255, 255);
  /* 글자 가로 정렬: text-align */
  text-align: center;
  /* 글자 세로 정렬: line-height */
  line-height: 150px;
}

a {
  text-decoration: line-through;
}