* {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

p{
  /* 글자 : 기울임 스타일 지정 */
  font-style: italic;
}

/* 
클래스, 아이디 선택자의 경우
- 기호와 클래스명, 아이디명을 붙여서 사용 
*/
.oddnumber {
  color: tomato;

}

/* 
  특장 요소에 있는 특정 클래스에만 스타일 적용
  : 요소명.클래스명을 붙여서 사용 
*/
p.first {
  /* 글자를 두껍게 */
  font-weight: bold;
  color: yellowgreen;
}

#title {
  text-align: center;
}

#container {
  border: 1px solid black;
}

h1, p {
  font-size: small;
}

.oddnumber, #title{
  font-size: large;
}